<%= simple_form_for form, as: :session, url: session_path, html: { class: "mt-8 space-y-6", data: { turbo: false } } do |f| %>
  <%= f.input :email, 
    input_html: { autocomplete: "off", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" },
    validate: { presence: true },
    label_html: { class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" },
    label: t("auth.email"),
    required: false
  %>
<%= f.input :password, 
  input_html: { autocomplete: "off", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" },
  validate: { presence: true },
  label_html: { class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" },
  required: false
%>
  <div class="flex items-start">
    <%= render(RubyUI::Button.new(type: :submit) { I18n.t("auth.login") }) %>
    <a href="<%= new_password_path %>" class="ml-auto text-sm text-primary-700 hover:underline dark:text-primary-500"><%= I18n.t("auth.forgot_password") %></a>
  </div>
<% end %>
