<div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white text-center">
    <%= t("passwords.edit.title") %>
  </h2>
  <div id="clearance" class="password-reset">
    <p><%= t("passwords.edit.description") %></p>
    <%= simple_form_for @user, as: :password_reset, url: user_password_path(@user, token: @user.confirmation_token), html: { class: "mt-8 space-y-6", data: { turbo: false } } do |f| %>
      <%= f.input :password, 
        input_html: { autocomplete: "off", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" },
        label_html: { class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" },
        required: false
      %>
      <div class="flex items-start">
        <%= render(RubyUI::Button.new(type: :submit) { I18n.t("button.submit") }) %>
        <a href="<%= sign_in_path %>" class="ml-auto text-sm text-primary-700 hover:underline dark:text-primary-500"><%= I18n.t("auth.back_to_login") %></a>
      </div>
    <% end %>
  </div>
</div>
