<div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white text-center">
    <%= t("passwords.new.title") %>
  </h2>
  <% if flash.any? %>
    <% flash.each do |key, message| %>
      <% if key == "alert" %>
        <%= render RubyUI::Alert.new(variant: :destructive) do %>
          <%= render RubyUI::AlertDescription.new { message } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div id="clearance" class="password-reset">
    <p><%= t("passwords.new.description") %></p>
    <%= simple_form_for @user || User.new, as: :password, url: passwords_path, html: { class: "mt-8 space-y-6", data: { turbo: false } } do |f| %>
      <%= f.input :email,
        input_html: {
          autocomplete: "off",
          class: "flex h-9 w-full rounded-md border bg-background px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 border-border focus-visible:ring-ring placeholder:text-muted-foreground"
        },
        label_html: { class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" },
        required: false
      %>
      <div class="flex items-start">
        <%= render(RubyUI::Button.new(type: :submit) { I18n.t("button.submit") }) %>
        <a href="<%= sign_in_path %>" class="ml-auto text-sm text-primary-700 hover:underline dark:text-primary-500"><%= I18n.t("auth.back_to_login") %></a>
      </div>
    <% end %>
  </div>
</div>
